@using System.Web.Optimization
@model EMAAR.ECM.Foundation.ORM.Models.sitecore.templates.Project.ECM.Common.Content_Types.ISiteRoot
<!DOCTYPE html>
<html lang="@Sitecore.Context.Language">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">    
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">    
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <!--Start Loading Seo tags-->
    @Html.Action("GetSeo", "Seo")
    <!--End Loading Seo tags -->
    @{
        @Styles.Render(String.Format("~/css/{0}-{1}.css", Sitecore.Context.Site.Name, Sitecore.Context.Language))
    }
    <!--End loading seo tags-->
    <!--Start Page Pre site scripts-->
    @Html.Raw(Model.SiteRoot.Pre_Site_Scripts)
    <!--Start Page Pre site scripts-->
</head>
<body>
    @Html.Sitecore().Placeholder("ecm_header")
    @Html.Sitecore().Placeholder("ecm_content")
    @Html.Sitecore().Placeholder("ecm_footer")
    
    @Scripts.Render("~/bundles/scripts")   
    <!--Start Page Post site scripts-->
    @Html.Raw(Model.SiteRoot.Post_Site_Scripts)
    <!--End Page Post site scripts-->
</body>
</html>