@using System.Web.Optimization
@model EMAAR.ECM.Foundation.ORM.Models.sitecore.templates.Project.ECM.Common.Content_Types.ISiteRoot
<!DOCTYPE html>
<html lang="@Sitecore.Context.Language">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />   
    @Html.Sitecore().Placeholder("ecm_seo")   
    <!--Start Page Pre site scripts-->
    @Html.Raw(Model.SiteRoot.Pre_Site_Scripts)
    <!--End Page Pre site scripts-->
</head>
<body>
    @Html.Sitecore().Placeholder("ecm_header")
    @Html.Sitecore().Placeholder("ecm_content")
    @Html.Sitecore().Placeholder("ecm_footer")
    <!--Start  site scripts-->
    @Scripts.Render("~/bundles/scripts")
    <!--End site scripts-->
    <!--Start Page Post site scripts-->
    @Html.Raw(Model.SiteRoot.Post_Site_Scripts)
    <!--End Page Post site scripts-->
</body>
</html>