@model EMAAR.ECM.Foundation.ORM.Models.sitecore.templates.Project.ECM.Content_Types.Homepage_carousel.IHomepage_Carousels
@using EMAAR.ECM.Foundation.SitecoreExtensions
@using Glass.Mapper.Sc.Web.Mvc

<!--Start HomePage carousels-->
<div class="exploreBoxes">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-lg-3">
                <div class="explore-item">
                    <a href="javascript:;" class="link">
                        <div class="explore-item-img">
                            <img src="../images//slider2.png" alt="slider1" class="img-fluid">
                            <h3 class="title">Reehan</h3>
                        </div>
                        <div class="explore-item-text">
                            <h3 class="title">Reehan</h3>
                            <ul>
                                <li>Panoramic views of the dubai Fountain & Burj Khalifa</li>
                                <li>Next door to the Dubai Opera, Burj Park, The Dubai Mall</li>
                                <li>Only steps away from the vibrant Sheikh Mohammed boulevard</li>
                                <li>Infinity Pool</li>
                            </ul>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="explore-item">
                    <a href="javascript:;" class="link">
                        <div class="explore-item-img">
                            <img src="../images//slider1.png" alt="slider1" class="img-fluid">
                            <h3 class="title">Yansoon</h3>
                        </div>
                        <div class="explore-item-text">
                            <h3 class="title">Yansoon</h3>
                            <ul>
                                <li>Panoramic views of the dubai Fountain & Burj Khalifa</li>
                                <li>Next door to the Dubai Opera, Burj Park, The Dubai Mall</li>
                                <li>Only steps away from the vibrant Sheikh Mohammed boulevard</li>
                                <li>Infinity Pool</li>
                            </ul>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="explore-item">
                    <a href="javascript:;" class="link">
                        <div class="explore-item-img">
                            <img src="../images//slider3.png" alt="slider1" class="img-fluid">
                            <h3 class="title">Zanzebeel features</h3>
                        </div>
                        <div class="explore-item-text">
                            <h3 class="title">Zanzebeel features</h3>
                            <ul>
                                <li>Panoramic views of the dubai Fountain & Burj Khalifa</li>
                                <li>Next door to the Dubai Opera, Burj Park, The Dubai Mall</li>
                                <li>Only steps away from the vibrant Sheikh Mohammed boulevard</li>
                                <li>Infinity Pool</li>
                            </ul>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="explore-item">
                    <a href="javascript:;" class="link">
                        <div class="explore-item-img">
                            <img src="../images//slider4.png" alt="slider1" class="img-fluid">
                            <h3 class="title">Boulevard heights</h3>
                        </div>
                        <div class="explore-item-text">
                            <h3 class="title">Boulevard heights</h3>
                            <ul>
                                <li>Panoramic views of the dubai Fountain & Burj Khalifa</li>
                                <li>Next door to the Dubai Opera, Burj Park, The Dubai Mall</li>
                                <li>Only steps away from the vibrant Sheikh Mohammed boulevard</li>
                                <li>Infinity Pool</li>
                            </ul>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>





















<section class="exploreBoxes">
    <div class="container">
        <h2 class="heading text-center wow fadeInUp">@Html.Glass().Editable(Model, x => x.Title)</h2>

        <div class="exploreSlider wow fadeInUp" data-wow-delay=".5s">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    @foreach (var carousels in Model.Carousels)
                    {
                        <div class="swiper-slide">
                            <div class="explore-item">
                                @using (Html.Glass().BeginRenderLink(carousels, x => x.CTA, new { @class = "link" }, isEditable: true))
                                {
                                    <div class="explore-item-img">
                                        @if (carousels != null && carousels.Image != null && !String.IsNullOrEmpty(carousels.Image.Alt))
                                        {
                                            @Html.Glass().RenderImage(carousels, x => x.Image, new { alt = carousels.Image.Alt, @class = "img-fluid" }, isEditable: true)

                                        }
                                        else
                                        {
                                            @Html.Glass().RenderImage(carousels, x => x.Image, new { alt = "image", @class = "img-fluid" }, isEditable: true)

                                        }
                                        <h3 class="title">@Html.Glass().Editable(carousels, x => x.Title)</h3>
                                    </div>
                                    <div class="explore-item-text">
                                        <h3 class="title">@Html.Glass().Editable(carousels, x => x.Title)</h3>
                                        @Html.Raw(Html.Glass().Editable(carousels, x => x.Summary))
                                    </div>

                                }
                            </div>
                        </div>
                    }

                </div>
            </div>



        </div>
    </div>
</section>
<!--End HomePage carousels-->