@model EMAAR.ECM.Foundation.ORM.Models.sitecore.templates.Project.ECM.Page_Types.IGeneric
@using Glass.Mapper.Sc.Web.Mvc
@using EMAAR.ECM.Foundation.SitecoreExtensions
@using EMAAR.ECM.Foundation.SitecoreExtensions.Settings
<!-- content starts here -->
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="mobileAccordionHolder">
                <span class="placehold"></span>
            </div>
            <div class="sideNavigation">
                <ul>
                    <li><a href="javascript:;">Communities</a></li>
                    <li><a href="javascript:;">Panorama</a></li>
                    <li class="active"><a href="javascript:;">Al Alka</a></li>
                    <li><a href="javascript:;">Al Arta</a></li>
                    <li><a href="javascript:;">Al Dhafrah</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-8">
            <div class="content-section">
                <div class="section-header">
                    @if (!String.IsNullOrEmpty(Model.Title))
                    {
                        <h1 class="heading"> @Html.Glass().Editable(Model, x => x.Title)</h1>
                    }
                    @if (!String.IsNullOrEmpty(Model.Description))
                    {
                        <p>
                            @Html.Glass().Editable(Model, x => x.Description)
                        </p>
                    }
                </div>

                @if (Model.Banner != null)
                {
                    <div>
                        @Html.Glass().RenderImage(Model, x => x.Banner, new { alt = !String.IsNullOrEmpty(Model.Banner.Alt) ? Model.Banner.Alt : "image", @class = "full-image" }, isEditable: true)
                    </div>
                }

                <!--Content from RTE-->
                @if (Sitecore.Context.PageMode.IsExperienceEditor)
                {
                    @Html.Glass().Editable(Model, x => x.Content)
                }
                else
                {
                    @Html.Raw(Model.Content.RemoveBreakTags())
                }
                <div class="amenitiesBox">
                    <h2>Amenities</h2>
                    <ul class="icons-lists">
                        <li>
                            <div class="icon">
                                <img src="../images/icon/amenities/shopping-cart.svg" alt="icon" class="svg">
                            </div>
                            <div class="title">Supermarket</div>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="../images/icon/amenities/cutlery.svg" alt="icon" class="svg">
                            </div>
                            <div class="title">Restaurants</div>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="../images/icon/amenities/coffee-cup.svg" alt="icon" class="svg">
                            </div>
                            <div class="title">Coffee shops</div>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="../images/icon/amenities/Shape.svg" alt="icon" class="svg">
                            </div>
                            <div class="title">Dry cleaner</div>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="../images/icon/amenities/Pharmacy.svg" alt="icon" class="svg">
                            </div>
                            <div class="title">Pharmacy</div>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="../images/icon/amenities/book.svg" alt="icon" class="svg">
                            </div>
                            <div class="title">Bookstore</div>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="../images/icon/amenities/camera-shutter.svg" alt="icon" class="svg">
                            </div>
                            <div class="title">Photo studio</div>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="../images/icon/amenities/hot-stones.svg" alt="icon" class="svg">
                            </div>
                            <div class="title">Beauty salon </div>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="../images/icon/amenities/bank.svg" alt="icon" class="svg">
                            </div>
                            <div class="title">Banking</div>
                        </li>

                    </ul>
                </div>

                <div class="accordion custom-style" id="accordionExample">
                    <div class="accordionWrap">
                        <div class="accordionHeading" id="headingOne">
                            <button class="collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne"> Cras ultricies ligula sed magna dictum porta.</button>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                             data-parent="#accordionExample">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                                aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente
                                ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                                farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
                                accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <div class="accordionWrap">
                        <div class="accordionHeading" id="headingTwo">
                            <button class="collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Quisque velit nisi, pretium ut lacinia in, elementum id enim.</button>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                             data-parent="#accordionExample">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                                aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente
                                ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                                farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
                                accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <div class="accordionWrap">
                        <div class="accordionHeading" id="headingTwo">
                            <button class="collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Sed porttitor lectus nibh.</button>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingTwo"
                             data-parent="#accordionExample">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                                aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente
                                ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                                farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
                                accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>
<!-- content ends here -->
<div class="exploreBoxes">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-lg-3">
                <div class="explore-item">
                    <a href="javascript:;" class="link">
                        <div class="explore-item-img">
                            <img src="../images//slider2.png" alt="slider1" class="img-fluid">
                            <h3 class="title">Reehan</h3>
                        </div>
                        <div class="explore-item-text">
                            <h3 class="title">Reehan</h3>
                            <ul>
                                <li>Panoramic views of the dubai Fountain & Burj Khalifa</li>
                                <li>Next door to the Dubai Opera, Burj Park, The Dubai Mall</li>
                                <li>Only steps away from the vibrant Sheikh Mohammed boulevard</li>
                                <li>Infinity Pool</li>
                            </ul>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="explore-item">
                    <a href="javascript:;" class="link">
                        <div class="explore-item-img">
                            <img src="../images//slider1.png" alt="slider1" class="img-fluid">
                            <h3 class="title">Yansoon</h3>
                        </div>
                        <div class="explore-item-text">
                            <h3 class="title">Yansoon</h3>
                            <ul>
                                <li>Panoramic views of the dubai Fountain & Burj Khalifa</li>
                                <li>Next door to the Dubai Opera, Burj Park, The Dubai Mall</li>
                                <li>Only steps away from the vibrant Sheikh Mohammed boulevard</li>
                                <li>Infinity Pool</li>
                            </ul>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="explore-item">
                    <a href="javascript:;" class="link">
                        <div class="explore-item-img">
                            <img src="../images//slider3.png" alt="slider1" class="img-fluid">
                            <h3 class="title">Zanzebeel features</h3>
                        </div>
                        <div class="explore-item-text">
                            <h3 class="title">Zanzebeel features</h3>
                            <ul>
                                <li>Panoramic views of the dubai Fountain & Burj Khalifa</li>
                                <li>Next door to the Dubai Opera, Burj Park, The Dubai Mall</li>
                                <li>Only steps away from the vibrant Sheikh Mohammed boulevard</li>
                                <li>Infinity Pool</li>
                            </ul>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="explore-item">
                    <a href="javascript:;" class="link">
                        <div class="explore-item-img">
                            <img src="../images//slider4.png" alt="slider1" class="img-fluid">
                            <h3 class="title">Boulevard heights</h3>
                        </div>
                        <div class="explore-item-text">
                            <h3 class="title">Boulevard heights</h3>
                            <ul>
                                <li>Panoramic views of the dubai Fountain & Burj Khalifa</li>
                                <li>Next door to the Dubai Opera, Burj Park, The Dubai Mall</li>
                                <li>Only steps away from the vibrant Sheikh Mohammed boulevard</li>
                                <li>Infinity Pool</li>
                            </ul>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>