@model EMAAR.ECM.Foundation.ORM.Models.sitecore.templates.Project.ECM.Page_Types.IGeneric_ContentPage
@using Glass.Mapper.Sc.Web.Mvc
@using EMAAR.ECM.Foundation.SitecoreExtensions
@using EMAAR.ECM.Foundation.SitecoreExtensions.Settings
<!-- content starts here -->

@if (Model != null)
{
    <div class="content-section">
        <div class="section-header">
            @if (!String.IsNullOrEmpty(Model.Title))
            {
                <h1 class="heading"> @Html.Glass().Editable(Model, x => x.Title)</h1>
            }
            @if (!String.IsNullOrEmpty(Model.Introduction))
            {
                <p>
                    @Html.Glass().Editable(Model, x => x.Introduction)
                </p>
            }
        </div>
        @if (Model.Banner != null)
        {
            <div>
                @Html.Glass().RenderImage(Model, x => x.Banner, new { alt = !String.IsNullOrEmpty(Model.Banner.Alt) ? Model.Banner.Alt : "image", @class = "full-image" }, isEditable: true)
            </div>
        }
        <!--Start Content from RTE-->
        @Html.Glass().Editable(Model, x => x.Content)
        <!--End Content from RTE-->
        @if (Model.Amenities != null)
        {
            @Html.Partial(String.Format("{0}ContentPage/Amenities/_Amenities.cshtml", SitecoreSettings.ViewPath), Model.Amenities)
        }
        @if (Model.Faqs != null)
        {
            @Html.Partial(String.Format("{0}ContentPage/Faqs/_Faqs.cshtml", SitecoreSettings.ViewPath), Model.Faqs)
        }

    </div>

}
<!-- content ends here -->
